.main-container{
    height: 800px;
    width: 800px;
    color: white;

    display: flex;
    align-items: center;

    flex-direction: column;
    background-color: rgba(50, 50, 50, 0.5);

    border-radius: 10px;
}

body {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Timer */
.timer-wrapper {
    margin-top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.timer{
    font-weight: 500;
    font-size: 168px;
    line-height: 168px;
}

.timer-content{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

/* Memo */
.memo-wrapper {
    font-size: 24px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    text-align: center;
}
.memo{
    font-size: 30px;
}

/* Modal */
.modal-button {
    position: fixed;
    right: 40px;
    top: 40px;
    width: 100px;
    height: 100px;
    background-image: url("./images/001-cloud.png");
    cursor: pointer;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 30px;
}

.weather-img{
    width:60px;
    height:60px;
}

.modal-content {
    min-width: 1200px;
}

.modal-content *{
    background-color: rgba(50, 50, 50, 0.8);
}